a.navbar-brand {
    position: absolute;
    left: 50%;
    display: block;
    width: 160px;
    text-align: center;
    margin-left: -80px;
    font-size: 40px;
    font-family: 'Conv_AbsolutHeadline2017';
}
