#ascenso .container ,#pagina1-l .container, #pagina1-r .container{
    height: 100vh;
}
.texto2 {
    font-size: 30px;
    line-height: 36px;
    padding-top: 70px;
}
.textocentro {
    font-size: 20px;
    padding-top: 140px;
}

.footer {
    padding-top: 10px;
}
.bloque {
    background: cornflowerblue;
    color: white;
    text-transform: uppercase;
    font-size: 36px;
    font-weight: lighter;
    padding-top: 10px;
}
#pagina2-l ul {
    list-style: none;
    padding: 0;
}
#pagina2-l li {
    display: inline-block;
    max-width: 137px;
    padding: 10px;
}
.barra-azul {
    background: url('/images/barra.png') repeat-x 0 0;
    padding-top: 20px;
}
.bq1 {
    padding-top: 150px;
    color:white;
}
.bloquemedio {
    margin-bottom: 100px;
}
.bloquemedio p {
    font-size: 25px;
}
#pagina1-r .bloquemedio  h3 {
    font-size: 42px;
}
.carousel-indicators .active {
    background-color: gray;
}
.carousel-indicators li {
    position: relative;
    flex: 0 1 auto;
    width: 30px;
    height: 3px;
    margin-right: 3px;
    margin-left: 3px;
    text-indent: -999px;
    cursor: pointer;
    background-color: black;
}


.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 23px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
  .fondoactivo{
    background: black;
  }