@font-face {
	font-family: 'Conv_Absolut-Bold';
	src: url('/font/Absolut-Bold.eot');
  src: url('/font/Absolut-Bold.woff') format('woff'), 
      url('/font/Absolut-Bold.ttf') format('truetype'), 
      url('/font/Absolut-Bold.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Conv_Absolut-Medium';
	src: url('/font/Absolut-Medium.eot');
  src:  url('/font/Absolut-Medium.woff') format('woff'), 
        url('/font/Absolut-Medium.ttf') format('truetype'), 
        url('/font/Absolut-Medium.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Conv_AbsolutHeadline2017';
	src: url('/font/AbsolutHeadline2017.eot');
  src:  url('/font/AbsolutHeadline2017.woff') format('woff'), 
        url('/font/AbsolutHeadline2017.ttf') format('truetype'), 
        url('/font/AbsolutHeadline2017.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Conv_MyriadPro-Regular';
	src: url('/font/MyriadPro-Regular.eot');
  src:  url('/font/MyriadPro-Regular.woff') format('woff'), 
        url('/font/MyriadPro-Regular.ttf') format('truetype'), 
        url('/font/MyriadPro-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
html{
  font-family:sans-serif;
  -ms-text-size-adjust:100%;
  -webkit-text-size-adjust:100%
}
body{
  font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size:14px;
  line-height:1.42857143;
  color:#333;
  background-color:#fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
}

html body  .container h1{
  font-family:'Conv_Absolut-Medium','Arial','sans-serif';
  font-size:33px;
  font-weight:600;
  line-height:50px;
  margin-bottom:0
}